## macOS
.DS_Store
## Lake
.lake/*
.cache/*
## Blueprint
/blueprint/print/print.log
/blueprint/web/
/blueprint/src/web.paux
/blueprint/src/web.bbl
/blueprint/print/
/blueprint/lean_decls
**/print.pdf
**/web.pdf
## Homepage
home_page/_site
## TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
## Python
**/venv
**/.venv
**/*.pyc
#TypeScript
widget/node_modules/*
## Data
**/tmp
.idea
equational_theories/Generated/All4x4Tables/src/finite_magma_tools/bin
equational_theories/Generated/All4x4Tables/src/finite_magma_tools/dist-newstyle
